<h1>Content Blocks</h1>

<% form_for([:admin, @content_block]) do |f| %>
  <%= f.error_messages %>
  <%= flash[:notice] %>
  <div class="main_fields">
    <div>
      <%= f.label :key %>
      <%= f.text_field :key %>
    </div>

    <div>
      <%= f.label :text_content %>
      <%= f.text_area :text_content %>
    </div>

    <div>
      <%= f.submit "Submit" %> | 
      <%= link_to "Back", :action => "index" %> 
    </div>
  </div>
  
<% end %>