<div class="find_a_facility_box">
  
  <h1 class="text_replacement">Find a facility:</h1>
  
  <% form_tag toilets_path, :method => :get do %>
    <%= text_field_tag :location, params[:location], :value => 'Enter your town or postcode...', :class => 'search_input' %>
    
	<span style="display: none">
      <label for="hoist">Hoist?</label>
      <%= check_box_tag :hoist %>
      <label for="changingbench">Changing Bench?</label>
      <%= check_box_tag :changingbench %>
    </span>

    <span class="search_container">
      <%= submit_tag "Search", :class => 'button search_button', :name => "Search"%>
    </span>
  <% end %>
</div>

<div class="find_new_places_box">
  <p>
    Find new places to visit that have 
    the facities you need:
  </p>
  <span class="where_can_i_go_container">
    <%= link_to 'Where can I go?', toilets_path, :class => 'button where_can_i_go_button' %>
  </span>
</div>

<div id="intro">
  <p>
    Pinpoint accessible toilets across 
    the UK so you can enjoy a fun day 
    out without getting caught short.
  </p>
  <p>
    We don’t yet know where all the facilities are. 
    It’s up to you to let us know by adding them to the map or telling us where there’s a gap.
  </p>
</div>