<div class="main_inner clearfix">
	<div class="flash_messages">
		<span class="notice"><%= flash[:notice] %></span>
		<span class="errors"><%= flash[:errors] %></span>
	</div>
	
  <%= render 'form', :back_text => 'Back', :back_link => toilet_path(@toilet) %>

  <script type="text/javascript">
	//<![CDATA[
    google.load("maps", "2");
    var marker;

    function initialize() {
      var map = new google.maps.Map2(document.getElementById("map"));
			var geocoder = new GClientGeocoder();
			
      var point = new GLatLng(<%= @toilet.lat%>, <%=@toilet.long%>);
      map.setCenter(point, 15);

      marker = new GMarker(point, {draggable:true});
      marker.setImage();
      map.addOverlay(marker);

      var mapControl = new GMapTypeControl();
      map.addControl(mapControl);
      map.addControl(new GLargeMapControl());

      GEvent.addListener(marker, 'dragend', function() {
        $('#toilet_lat').val(marker.getLatLng().lat());
        $('#toilet_long').val(marker.getLatLng().lng());
      });

			$('#toilet_address').keyup(function(){
        if($(this).val()){
          geocoder.getLocations($(this).val()+ ", UK", addToMap);
        }
      });

			function addToMap(response) {
        // Retrieve the object
        place = response.Placemark[0];

        // Retrieve the latitude and longitude
        point = new GLatLng(place.Point.coordinates[1],
                            place.Point.coordinates[0]);

        // Center the map on this point
        map.setCenter(point, 13);

        // Create a marker
        marker = new GMarker(point, {draggable:true});

        // Add the marker to map
        map.clearOverlays();
        map.addOverlay(marker);

        $('#toilet_lat').val(marker.getLatLng().lat());
        $('#toilet_long').val(marker.getLatLng().lng());

        GEvent.addListener(marker, 'dragend', function() {
          $('#toilet_lat').val(marker.getLatLng().lat());
          $('#toilet_long').val(marker.getLatLng().lng());
        });
      }

			$('form#edit_toilet').submit(function(){	
				if($('#toilet_address').val()){
	        geocoder.getLocations($('#toilet_address').val()+ ", UK", submitLatLong);
					return false;
				}
			});

			function submitLatLong(response) {
				// Retrieve the object
	      place = response.Placemark[0];

				// Retrieve the latitude and longitude
	      point = new GLatLng(place.Point.coordinates[1],
	                           place.Point.coordinates[0]);

				$('#toilet_lat').val(point.lat());
	      $('#toilet_long').val(point.lng());

				document.forms[0].submit();
	    }
    }
    google.setOnLoadCallback(initialize);
	//]]>
  </script>
</div>