<%= flash[:notice]%>

<div class="main_inner">
  
  <div class="left">
    <h1 class="text_replacement search_results">Search Results</h1>
    <div id="map" style="height: 350px; width: 350px"></div>
  </div><!-- /.left -->
  
  <div class="right">
    <% form_tag toilets_path, :method => :get, :class => 'refine_search clearfix' do %>
    <%= "Type a location to find toilets" if params[:location] == "" %>
    <div class="location_param clearfix">
      <label for="location">Location:</label>
      <%= text_field_tag :location, params[:location] %>
    </div>
    
	<span class="refine_search_container"><%= submit_tag "Refine Search", :class => 'button refine_search_button' %></span>
      
	<div class="attributes">
      <%= check_box_tag :hoist %>
      <label for="hoist">Hoist</label><br />
      <%= check_box_tag :changingbench %>
      <label for="changingbench">Changing Bench</label>
    </div><!-- /.attributes -->
  <% end %>
    
  <% if @toilets %>
	<% if (params[:location] and params[:location].present?) %>
      <h2>Closest Facilities...</h2>
	<%else%>
      <h2>Recently added Facilities...</h2>
	<%end%>
    <table class="search_results">
      <tr class="separator">
        <td colspan="3"><hr /></td>
      </tr>
      <% char_index = 'A' %>
      <% @toilets.each_with_index do |toilet, index| %>
        <tr id="row_<%=index+1%>">
        <td class="marker"><span class="pin"><%= char_index %></span></td>
        <td class="address">
          <%= toilet.name %><br />
          <%= toilet.address %><br />
          <%= content_tag :span, 'Hoist', :class => (toilet.hoist ? 'checked' : 'cross' ) %>
          <%= content_tag :span, 'Changing Bench', :class => (toilet.changingbench ? 'checked' : 'cross' ) %>
        </td>
        <td class="details">
          <%= link_to "View Details", permalink_to_toilet_path(toilet.permalink, 
          :index_value => index, :location => params[:location]), :id => "details_link_#{index+1}"%>
        </td>
      </tr>
      <% unless toilet == @toilets.last %>
      <tr class="separator">
        <td colspan="3"><hr /></td>
      </tr>
      <% end %>
     <% char_index = char_index.next %>
  <% end %>
  </table>

  <% if (params[:location] and params[:location].present?) %>
    <%= link_to "Know of anything closer?" , new_toilet_path(:search_location => params[:location]) %>
    <%= link_to "Add a new toilet here." , new_toilet_path(:search_location => params[:location]) %>
  <%end%>
 <% end %>
 </div><!-- /.right -->
</div><!-- /.main_inner -->

<!-- Google maps-->
<script type="text/javascript"
	src="http://www.google.com/jsapi?key=ABQIAAAAtKHuZgZ6ZYmkr7zOvb3BEBQZuDB81lYR9ehagyKbdtoSfbk_cxSfrlO1nBnD40vVsqVh48IztGmTJw">
</script>
<script type="text/javascript">
	google.load("maps", "2");
	
function initialize() {
	var map = new google.maps.Map2(document.getElementById("map"));

	var point, letter, myIcon, marker;
	
	<% if(@toilets) %>
	  <% @toilets.each_with_index do |toilet, index|%>
	
	    point = new GLatLng(<%= toilet.lat %>,<%= toilet.long %>);	
  	    letter = String.fromCharCode("A".charCodeAt(0) + <%=index%>);
	    myIcon = new GIcon(G_DEFAULT_ICON, "http://www.google.com/mapfiles/marker" + letter + ".png");
	
	    marker = new GMarker(point, {draggable:false, icon:myIcon});
	    marker.setImage();
	    map.addOverlay(marker);
	
		var mapControl = new GMapTypeControl();
	  	map.addControl(mapControl);
	  	map.addControl(new GLargeMapControl())
	
      <% end %>
	<% end %>

	<% if (params[:location] and params[:location].present?) %>  
		point = new GLatLng(<%= @toilets[0].lat %>,<%= @toilets[0].long %>);    
		map.setCenter(point, 13);
	<% else %>
	point = new GLatLng(53, -1.5);
    map.setCenter(point, 6);
	<% end %>
}

    google.setOnLoadCallback(initialize);		
</script>