<%= flash[:notice] %>

<% form_tag toilets_path, :method => :get do %>
  <%= "Type a location to find toilets" if params[:location] == "" %>
  <label for="location">Location:</label>
  <%= text_field_tag :location %>
  <label for="hoist">Has a hoist:</label>
  <%= check_box_tag :hoist %>
  <label for="changingbench">Changing Bench:</label>
  <%= check_box_tag :changingbench %>
  
  <%= submit_tag "Search" %>
<% end %>

<%= link_to "Add a Toilet", { :controller => "toilets", :action => "new" }, :id => "new.toilet" %>

<div id="map" style="height: 500px; width: 500px"></div>

<% if @toilets then %>
<table class="toilets.search.result">
    <tr>
      <th>name</th>
      <th>address</th>
      <th>venue type</th>
      <th>toilet location</th>
      <th>who can use</th>
      <th>how to access</th>
      <th>changing bench</th>
      <th>hoist</th>
      <th>distance</th>
      <th>description</th>
    </tr>

  <% @toilets.each_with_index do |toilet, index| %>
    <tr>
      <td class="name"><%=toilet.name%></td>
      <td class="address"><%= toilet.address %></td>
      <td class="venuetype"><%= toilet.venuetype %></td>
      <td class="toiletlocation"><%= toilet.toiletlocation %></td>
      <td class="whocanuse"><%= toilet.whocanuse %></td>
      <td class="howtoaccess"><%= toilet.howtoaccess %></td>
      <td class="changingbench"><%= toilet.changingbench ? "has changing bench" : "does not have changing bench" %></td>
      <td class="hoist"><%= toilet.hoist ? "has hoist" : "does not have hoist" %></td>
      <td class="distance"><%= ("%0.2f" % toilet.distance.to_f ) %> km</td>
      <td class="description"><%= toilet.description %></td>
    </tr>
<% end %>
</table>
<% end %>

<% if params[:location] then %>
<script type="text/javascript" charset="utf-8">
    map = new GMap2(document.getElementById("map"));
  
    function addMarker(longStr, latStr, name, address) {
        point = new GPoint(parseFloat(longStr), parseFloat(latStr));
        thisHTML = "<h4 class='name'>" + name + "</h4><p class='address'>" + address + "</p>";

        var marker = new GMarker(point, {draggable:false});

        // Show this marker's index in the info window when it is clicked
        GEvent.addListener(marker, "click", function() {
            marker.openInfoWindowHtml(thisHTML);
        });

        map.addOverlay(marker);
    }

    if (GBrowserIsCompatible()) {

        geocoder = new GClientGeocoder();
        geocoder.setBaseCountryCode("GB");

        geocoder.getLatLng(
              "<%= params[:location] %>",
              function(point) {
                  if (!point) {
                      alert("location not found");
                  } else {
                      map.setCenter(point, 12);
                  }
              }
              );

        map.addControl(new GMapTypeControl());
        map.addControl(new GLargeMapControl());
        map.enableDoubleClickZoom();

        <% @toilets.each do |toilet| %>
        addMarker("<%= toilet.long %>", "<%= toilet.lat %>", "<%= toilet.name %>", "<%= toilet.address %>"); // todo: escape '"'?
        <% end if @toilets %>
    }
</script>
<% end %>