<%= flash[:notice]%>
<div class="main_inner">  
	<div class="left">
		
		
		<!-- CHANGE TEXT IMAGE TO "FACILITY"-->
	    <h1 class="text_replacement search_results">Search Results</h1>
	    <div id="map" style="height: 350px; width: 350px"></div>
	  </div><!-- /.left -->  

<div class="right">

    <% form_tag toilets_path, :method => :get, :class => 'refine_search clearfix' do %>
      <%= "Type a location to find toilets" if params[:location] == "" %>
      <div class="location_param clearfix">
      <label for="location">Location:</label>
      <%= text_field_tag :location, params[:location] %>
      </div>
      <span class="refine_search_container"><%= submit_tag "Refine Search", :class => 'button refine_search_button' %></span>
      <div class="attributes">
        <%= check_box_tag :hoist %>
        <label for="hoist">Hoist</label><br />
        <%= check_box_tag :changingbench %>
        <label for="changingbench">Changing Bench</label>
      </div><!-- /.attributes -->
    <% end %>
    
    <% if @toilets %>
      <h2>Closest Facilities...</h2>
      <table class="search_results">
        <tr class="separator">
          <td colspan="3">
            <hr />
          </td>
        </tr>
        <% char_index = 'A' %>
        <% @toilets.each_with_index do |toilet, index| %>
          <tr id="row_<%=index+1%>">
            <td class="marker"><span class="pin"><%= char_index %></span></td>
            <td class="address">
              <%= toilet.name %><br />
              <%= toilet.address %><br />
              <%= content_tag :span, 'Hoist', :class => (toilet.hoist ? 'checked' : 'cross' ) %>
              <%= content_tag :span, 'Changing Bench', :class => (toilet.changingbench ? 'checked' : 'cross' ) %>
            </td>
            <td class="details">
              <%= link_to "View Details", {:controller => 'toilets', :action => 'show', :permalink => toilet.permalink, :index_value => index}, :id => "details_link_#{index+1}"%>
            </td>
          </tr>
          <% unless toilet == @toilets.last %>
            <tr class="separator">
              <td colspan="3">
                <hr />
              </td>
            </tr>
          <% end %>
          <% char_index = char_index.next %>
        <% end %>
      </table>
      <%= link_to "Know of anything closer?" , { :controller => "toilets", :action => "new", :search_location => params[:location]} %>
      <%= link_to "Add a new toilet here." , { :controller => "toilets", :action => "new", :search_location => params[:location]} %>
	<%= will_paginate @toilets %>
    <% end %>
    
  </div><!-- /.right -->

  <%#= link_to "Add a Toilet", { :controller => "toilets", :action => "new" , :search_location=> params[:location]} %>

</div><!-- /.main_inner -->
