<h1>New toilet</h1>

<% form_for(@toilet) do |f| %>
    <%= f.error_messages %>
    <%= flash[:notice] %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :address %><br/>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :venuetype, "Venue Type" %><br/>
      <%= f.text_field :venuetype %>
    </p>
    <p>
      <%= f.label :howtoaccess, "How to access" %><br/>
      <%= f.text_field :howtoaccess %>
    </p>
    <p>
      <%= f.label :changingbench, "Changing Bench?" %><br/>
      <%= f.check_box :changingbench %>
    </p>
    <p>
      <%= f.label :hoist, "Hoist?" %><br/>
      <%= f.check_box :hoist %>
    </p>
    <p>
      <%= f.label :toiletlocation, "Toilet Location" %><br/>
      <%= f.text_field :toiletlocation %>
    </p>
    <p>
      <%= f.label :whocanuse, "Who can use" %><br/>
      <%= f.text_field :whocanuse %>
    </p>
    <p>
      <%= f.label :description, "Description" %><br/>
      <%= f.text_area :description %>
    </p>
    
    
    <table>
      <tr>
        <td>
          <div class="location_selector" style="display:none;">
            <div><label for="MapAddressSearch">Map location</label></div>
            <input name="MapAddressSearch" id="MapAddressSearch" value="<%= params[:search_location]%>" size="50" />
            <input type="button" value="Locate on Map" id="locate_on_map" />
            <div id="map" style="height: 500px; width: 500px"></div>
          </div><!-- location_selector -->
        </td>
      </tr>
      <tr>
        <td>
          <table>
            <tr>
              <td class="label"><%= f.label :lat, "Latitude" %></td>
              <td class="field"><%= f.text_field :lat %></td>
            </tr>
            <tr>
              <td class="label"><%= f.label :long, "Longitude" %></td>
              <td class="field">
                <%= f.text_field :long %>
                <input type="button" value="Update map" class="updatemap" style="display:none" id="update_map" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    
    <fieldset class="spamcheck_fields">
      <label for="spamcheck">To prove you're not a spam bot, please put 'rabbit' into this field</label>
      <%= text_field_tag :spamcheck %>
    </fieldset>
    
    
    <p>
      <%= f.submit "Create" %>
    </p>

<%= link_to 'Back', toilets_path %>

<%
  @lat = !f.object.lat.blank? ? "%04f" % f.object.lat : "null"
  @long = !f.object.long.blank? ? "%04f" % f.object.long : "null"
%>
<% end %>

<!-- R-rated code ahead, parental advisory -->
<script type="text/javascript" charset="utf-8">

$(".location_selector").show();
$(".updatemap").show();

var default_zoom = 15;
var global_map;
var global_marker;

function load() {
    if (GBrowserIsCompatible()) {

        var start_lat = <%= @lat %>;
        var start_lng = <%= @long%>;
        var search_location = "<%= params[:search_location] %>";

        global_map = new GMap2(document.getElementById("map"));
        global_map.addControl(new GMapTypeControl());
        global_map.addControl(new GLargeMapControl());
        global_map.enableDoubleClickZoom();

        var geocoder = new GClientGeocoder();
        geocoder.setBaseCountryCode("GB");

        if (start_lat != null && start_lng != null) {
            setupMap(new GLatLng(start_lat, start_lng));
        } else if (search_location) {
            geocoder.getLatLng(search_location, function(latlng) {
                setupMap(latlng);
            });
        } else {
            setupMap(new GLatLng(51.5009, -0.1221));
        }
    }
}

function setupMap(start_point) {
    global_map.setCenter(start_point, default_zoom);
    document.getElementById('toilet_lat').value = start_point.lat();
    document.getElementById('toilet_long').value = start_point.lng();

    global_marker = create_marker_linked_to_lat_long(start_point);

    global_map.addOverlay(global_marker);

    $("#locate_on_map").bind("click",showLocation);
    $("#update_map").bind("click",recenterMarker);
}

function recenterMarker() {
    global_marker.setPoint(new GLatLng(document.getElementById('toilet_lat').value, document.getElementById('toilet_long').value));
    global_map.setCenter(new GLatLng(document.getElementById('toilet_lat').value, document.getElementById('toilet_long').value));
}

function showLocation() {
    var geocoder = new GClientGeocoder();
    geocoder.setBaseCountryCode("GB");
    var address = document.getElementById('MapAddressSearch').value;
    geocoder.getLocations(address,addAddressToMap);
}

function create_marker_linked_to_lat_long(start_point) {
    var marker = new GMarker(start_point, {draggable:true});

    GEvent.addListener(marker, "dragstart", function() {
        global_map.closeInfoWindow();
    });

    GEvent.addListener(marker, "dragend", function() {
        document.getElementById('toilet_lat').value = marker.getPoint().lat();
        document.getElementById('toilet_long').value = marker.getPoint().lng();
    });

    return marker;
}

function addAddressToMap(response) {
    global_map.clearOverlays();
    if (!response || response.Status.code != 200) {
        alert("Sorry, we were unable to find that address");
    } else {
        var place = response.Placemark[0];
        document.getElementById('toilet_lat').value = place.Point.coordinates[1];
        document.getElementById('toilet_long').value = place.Point.coordinates[0];
        var point = new GLatLng(place.Point.coordinates[1], place.Point.coordinates[0]);
        global_marker = create_marker_linked_to_lat_long(point);
        global_map.addOverlay(global_marker);
        global_map.setCenter(point, default_zoom);
        global_marker.openInfoWindowHtml(place.address);
    }
}

$(document).ready(function(){
    load();
});

</script>
