<h1>New toilet</h1>

<% form_for(@toilet) do |f| %>
    <%= f.error_messages %>
    <%= flash[:notice] %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :address %><br/>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :venuetype, "Venue Type" %><br/>
      <%= f.text_field :venuetype %>
    </p>
    <p>
      <%= f.label :howtoaccess, "How to access" %><br/>
      <%= f.text_field :howtoaccess %>
    </p>
    <p>
      <%= f.label :changingbench, "Changing Bench?" %><br/>
      <%= f.check_box :changingbench %>
    </p>
    <p>
      <%= f.label :hoist, "Hoist?" %><br/>
      <%= f.check_box :hoist %>
    </p>
    <p>
      <%= f.label :toiletlocation, "Toilet Location" %><br/>
      <%= f.text_field :toiletlocation %>
    </p>
    <p>
      <%= f.label :whocanuse, "Who can use" %><br/>
      <%= f.text_field :whocanuse %>
    </p>
    <p>
      <%= f.label :description, "Description" %><br/>
      <%= f.text_area :description %>
    </p>
    
    
    <table>
      <tr>
        <td>
          <div class="location_selector" style="display:none;">
            <div><label for="MapAddressSearch">Map location</label></div>
            <input name="MapAddressSearch" id="MapAddressSearch" value="<%= params[:search_location]%>" size="50" />
            <input type="button" value="Locate on Map" onclick="showLocation()" />
            <div id="map" style="height: 500px; width: 500px"></div>
          </div><!-- location_selector -->
        </td>
      </tr>
      <tr>
        <td>
          <table>
            <tr>
              <td class="label"><%= f.label :lat, "Latitude" %></td>
              <td class="field"><%= f.text_field :lat %></td>
            </tr>
            <tr>
              <td class="label"><%= f.label :long, "Longitude" %></td>
              <td class="field">
                <%= f.text_field :long %>
                <input type="button" value="Update map" class="updatemap" style="display:none" onclick="recenterMarker()" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    
    <fieldset class="spamcheck_fields">
      <label for="spamcheck">To prove you're not a spam bot, please put 'rabbit' into this field</label>
      <%= text_field_tag :spamcheck %>
    </fieldset>
    
    
    <p>
      <%= f.submit "Create" %>
    </p>

<%= link_to 'Back', toilets_path %>

<%
  @lat = !f.object.lat.blank? ? f.object.lat : "null"
  @long = !f.object.long.blank? ? f.object.long : "null"
%>
<% end %>

<!-- R-rated code ahead, parental advisory -->
<script type="text/javascript" charset="utf-8">

$(".location_selector").show();
$(".updatemap").show();

var marker;
var map;

var default_zoom = 15;

function load() {
    if (GBrowserIsCompatible()) {

        start_lat = <%= @lat %>;
        start_lng = <%= @long%>;
        search_location = "<%= params[:search_location] %>";

        map = new GMap2(document.getElementById("map"));
        map.addControl(new GMapTypeControl());
        map.addControl(new GLargeMapControl());
        map.enableDoubleClickZoom();
        geocoder = new GClientGeocoder();
        geocoder.setBaseCountryCode("GB");

        if (start_lat != null && start_lng != null) {
            start_point = new GLatLng(start_lat, start_lng);
            setupMap(start_point);
        } else if (search_location) {
            geocoder.getLatLng(search_location, function(latlng) {
                setupMap(latlng);
            });
        } else {
            start_point = new GLatLng(51.5009, -0.1221);
            setupMap(start_point);
        }

    }
}

function setupMap(start_point) {
    map.setCenter(start_point, default_zoom);
    document.getElementById('toilet_lat').value = start_point.lat();
    document.getElementById('toilet_long').value = start_point.lng();

    marker = new GMarker(start_point, {draggable:true});

    GEvent.addListener(marker, "dragstart", function() {
        map.closeInfoWindow();
    });

    GEvent.addListener(marker, "dragend", function() {
        document.getElementById('toilet_lat').value = marker.getPoint().lat();
        document.getElementById('toilet_long').value = marker.getPoint().lng();
    });

    map.addOverlay(marker);
}

function addAddressToMap(response) {
    map.clearOverlays();
    if (!response || response.Status.code != 200) {
        alert("Sorry, we were unable to geocode that address");
    } else {
        place = response.Placemark[0];
        document.getElementById('toilet_lat').value = place.Point.coordinates[1];
        document.getElementById('toilet_long').value = place.Point.coordinates[0];
        point = new GLatLng(place.Point.coordinates[1], place.Point.coordinates[0]);
        marker = new GMarker(point, {draggable:true});
        map.addOverlay(marker);
        map.setCenter(new GLatLng(document.getElementById('toilet_lat').value, document.getElementById('toilet_long').value), default_zoom);
        marker.openInfoWindowHtml(place.address);

        GEvent.addListener(marker, "dragstart", function() {
            map.closeInfoWindow();
        });

        GEvent.addListener(marker, "dragend", function() {
            document.getElementById('toilet_lat').value = marker.getPoint().lat();
            document.getElementById('toilet_long').value = marker.getPoint().lng();
        });
    }
}

// A function to create the marker and set up the event window
function recenterMarker() {
    marker.setPoint(new GLatLng(document.getElementById('toilet_lat').value, document.getElementById('toilet_long').value));
    map.setCenter(new GLatLng(document.getElementById('toilet_lat').value, document.getElementById('toilet_long').value));
}

function showLocation(address) {
    address = document.getElementById('MapAddressSearch').value;
    geocoder.getLocations(address, addAddressToMap);
}

$(document).ready(function(){
    load();
});

</script>
