<div class="main_inner">
  	<div class="left">
	map in here
	</div>
	<div class="right">
		<div class="details">
			<h2 id="name"><%= @toilet.name %></h2> 
			<p id="address">Address: <%= @toilet.address %></p>
			<p id="venuetype">Venue Type:<%= @toilet.venuetype %></p>
			<p id="howtoaccess">How to Access: <%= @toilet.howtoaccess %></p>
			<p id="changingbench">Changing bench:<%= @toilet.changingbench ? "has changing bench" : "does not have changing bench" %></p>
			<p id="hoist">Hoist: <%= @toilet.hoist ? "has hoist" : "does not have hoist" %></p>
			<p id="toiletlocation">Toilet Location:<%= @toilet.toiletlocation %></p>
			<p id="whocanuse">Who can use: <%= @toilet.whocanuse %></p>
		</div>
	</div>
</div>