<div class="main_inner">
	
  	<div class="left">
	    <h1 class="text_replacement facility_details">Facility Details</h1>
	    <div id="map" style="height: 350px; width: 350px"></div>
	  </div><!-- /.left -->
	
	<div class="right">
		<div class="facility_details">
			<h2 id="name"><%= @toilet.name %></h2> 
			<p id="address"><%= @toilet.address %></p>
			<div class="facility_images">
			</div>
			<p id="venuetype"><b>Venue Type:</b> <%= @toilet.venuetype %></p>
			<p id="howtoaccess"><b>How to Access:</b> <%= @toilet.howtoaccess %></p>
			<p id="changingbench"><b>Changing bench:</b> <%= @toilet.changingbench ? "has changing bench" : "does not have changing bench" %></p>
			<p id="hoist"><b>Hoist:</b> <%= @toilet.hoist ? "has hoist" : "does not have hoist" %></p>
			<p id="toiletlocation"><b>Toilet Location:</b> <%= @toilet.toiletlocation %></p>
			<p id="whocanuse"><b>Who can use:</b> <%= @toilet.whocanuse %></p>
			<div class="facility_links"<%= link_to "Edit these details" , { :controller => "toilets", :action => "edit", :search_location => params[:location]} %>
		</div>
	</div>
</div>