<ul class="NoBullet">      
<li id="name"><%= @toilet.name %></li>
      <li id="address"><%= @toilet.address %></li>
      <li id="venuetype"><%= @toilet.venuetype %></li>
      <li id="toiletlocation"><%= @toilet.toiletlocation %></li>
      <li id="whocanuse"><%= @toilet.whocanuse %></li>
      <li id="howtoaccess"><%= @toilet.howtoaccess %></li>
      <li id="changingbench"><%= @toilet.changingbench ? "has changing bench" : "does not have changing bench" %></li>
      <li id="hoist"><%= @toilet.hoist ? "has hoist" : "does not have hoist" %></li>
      <li id="description"><%= @toilet.description %></li>
      <li id="longitude"><%= @toilet.long %></li>
      <li id="latitude"><%= @toilet.lat %></li>
      </ul>