</head>

<body>

<p>
  <b>Name:</b>
  <%= h @toilet.name %>
</p>

<p>
  <b>Address:</b>
  <%= h @toilet.address %>
</p>

<p>
  <b>Venue Type:</b>
  <%= h @toilet.venuetype %>
</p>

<p>
  <b>How to access:</b>
  <%= h @toilet.howtoaccess %>
</p>

<p>
  <b>Changing bench:</b>
  <%= h @toilet.changingbench %>
</p>

<p>
  <b>Hoist:</b>
  <%= h @toilet.hoist %>
</p>

<p>
  <b>Toilet location:</b>
  <%= h @toilet.toiletlocation %>
</p>

<p>
  <b>Who can use:</b>
  <%= h @toilet.whocanuse %>
</p>


</body> </html>