<%= flash[:notice]%>

<h1>Admin</h1>

<%= will_paginate @toilets %>

<table class="results">
  <tr>
    <th>name</th>
    <th>address</th>
    <th>edit</th>
    <th>Delete</th>

  </tr>
  <% @toilets.each_with_index do |toilet, index| %>
      <tr>
        <td class="name"><%= truncate(toilet.name,20,"...") %></td>
        <td class="address"><%= truncate(toilet.address,20,"...") %></td>
        <td class="edit"><%= link_to "edit", {:controller => "toilets", :action => "edit", :id => toilet}, :id => "edit_link_#{index+1}" %></td>
		<td class="delete"><%= link_to "delete", {:controller => "toilets", :action => "destroy", :id => toilet}, :method => :delete%></td>
     </tr>
  <% end %>
</table>
