<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Wee Day Out</title>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= get_gmaps_api_key() %>" type="text/javascript">
  </script>
  <%= stylesheet_link_tag 'weedayout', 'buttons' %>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'lowpro.jquery', 'application', 'latlongmap', 'clear_search_box'%>
</head>
<body>
<div class="outer_wrapper">
<div class="inner_wrapper">
  <div class="header">
    <%= link_to 'weedayout.com', root_path, :class => 'logo_link' %>
    <h2>Putting accessible features on the map.</h2>
  
    <div class="main_nav">
      <ul>
        <li class="home<%= print_if_params(' home_active', :controller => 'pages', :action => 'index') %>"><%= link_to 'Home', root_path %></li>
        <li class="add_facility<%= print_if_params ' add_facility_active', :controller => 'toilets', :action => ['new', 'create'] %>"><%= link_to 'Add a Facility', new_toilet_path %></li>
        <!-- <li class="add_gap"><%= link_to 'Add a Gap', 'add/gap/path' %></li> -->
      </ul>
      <div class="bar"></div>
    </div>
  </div>
  
  <div class="main">
    <%= yield %>
  </div>

</div>
</div>
<!-- WeeDayOut at <%= request.domain(5) %> -->
</body>
</html>
