<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Toilets: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAlyeJljQH98VMTkAORPPxhxRi_j0U6kJrkFvY4-OX2XYmEAa76BR1dkIiZ5uJBrN49TH92bIh5AJW7w" type="text/javascript">
  </script>
  <script src="http://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-msw&key=ABQIAAAAlyeJljQH98VMTkAORPPxhxQDNUKtWYO0YNsBQklWEm0Tg_LWZBQxMphApqQmqkL90w6Yq0GXs3E6Xw"
          type="text/javascript"></script>
          <%= javascript_include_tag 'jquery-1.3.2.min' %>
  
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-9518477-1");
        pageTracker._trackPageview();
    } catch(err) {
    }</script>

</body>
</html>
